body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #fdf6f0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #ff6f61;
    color: white;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
}

/* Search */
#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: none;
}

/* Product Grid */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}

/* Cards */
.card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

/* Images */
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Button */
button {
    background: #ff6f61;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ff3b2e;
}
